* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #252839;
}

h2 {
    position: relative;
    font-size: 14vw;
    color: #252839;
    /* 文字描边 */
    -webkit-text-stroke: 0.3vw #383d52;
}

h2::before {
    content: 'Loading...';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    color: #01fe87;
    overflow: hidden;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    animation: animate 3s linear infinite alternate;
}

@keyframes animate {
    0% {
        width: 0%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 100%;
    }

}